body {
    margin: 0;
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    font-family: roboto, arial, verdana
}

#header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    line-height: 150%;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: lightgray;
}

#timer {
    font-size: x-large;
    font-weight: bold;
    display:flex;
    min-width: 15em;
    flex-flow:column wrap;
    align-items: center;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

#timer input {
    font-size: x-large;
    font-weight: bold;
    font-family: roboto, arial, verdana

}

#timer-host-helper-text {
    font-weight: bold;
}

#timer-buttons {
    display: none;
    text-align: center;
    margin-top: 0.5em;
}

#timer-buttons button{
    font-weight: bold;
    font-size: large;
}

#footer {
    width: 100%;
    text-align: center;
    line-height: 150%;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: lightgray;
}

#ko-fi-logo {
    width: 5em;
}

.darkened-area {
    fill: black !important;
    fill-opacity: 0.7 !important;
}

.inactive {
    fill: black !important;
    fill-opacity: 0.7 !important;
}

.active-button {
    background-color: darkgray;
    border: 1px solid lightgray;
}

